<%- layout("./layouts/boilerplate")%>


    <h1>Add a new place to eat</h1>


<form action="/eat" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" name="eatery[title]" required aria-describedby="name">
    </div>
    <div class="mb-3">
        <label for="location">Location</label>
        <input type="text" id="location" class="form-control" name="eatery[location]" required aria-describedby="location">
    </div>
    <!-- <div class="mb-3">
        <label for="image">Image</label>
        <input type="text" id="image" class="form-control" name="eatery[image]" required aria-describedby="image link">
    </div> -->

    <div class="mb-3 custom-file">
        <label for="image" class="form-label">Upload Images</label>
        <input class="form-control" type="file" id="image" name="image" multiple>
        <label class="form-control-label" for="image">
            <span class="form-file-text custom-file-label"></span>
        </label>
    </div>

    <div class="mb-3">
        <label for="description">Description</label>
        <textarea type="text" id="description" class="form-control" name="eatery[description]" rows="5" required aria-describedby="description"></textarea>
    </div>
    <div class="mb-3">
        <label for="price">Price</label>
        <select class="form-select" aria-label="price bracket" name="eatery[price]">
            <option selected value="$">$ (Less than $10 per dish)</option>
            <option value="$$">$$ ($10-$20 per dish)</option>
            <option value="$$$">$$$ ($21-$50 per dish)</option>
            <option value="$$$$">$$$$ ($51-$100 per dish)</option>
            <option value="$$$$$">$$$$$ ($100+ per dish)</option>
          </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>